.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.photo:last-child {
  order: -1;
  margin-right: 20px;
}

.photoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
